body {
  margin: 0;
  background-color: black;
}

.snowman {
  width: 550px;
  height: 800px;
  border: 1px solid white;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ball_head, .ball_body, .big_ball {
  background-color: white;
  border-radius: 50%;
} 

.ball_head {
  width: 100px;
  height: 100px;
}

.ball_body {
  width: 150px;
  height: 150px;
  margin-top: -15px;
  position: relative;
}

.big_ball {
  width: 200px;
  height: 200px;
  margin-top: -30px;
}

.eyes {
  width: 50px;
  display: flex;
  justify-content: space-between;
  margin: 30px auto 15px;
}

.eye {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: violet;
}

.smile {
  border-top: 3px solid black;
  width: 50px;
  height: 20px;
  margin: 0 auto;
  border-radius: 50%;
}

.buttons {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}

.button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: black;
  margin-top: 15px;
}

.right_hand, .left_hand {
  background-color: brown;
  width: 3px;
  height: 90px;
  position: absolute;
  top: 40px;
  z-index: -1;
}

.right_hand {
  right: -20px;
  transform: rotate(-50deg);
}

.left_hand {
  left: -20px;
  transform: rotate(50deg);
}